@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-50;
}
.romantic-text {
  font-family: 'Dancing Script', cursive;
}
.github{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}